@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100dvh;
}

body {
  height: 100dvh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#__next {
  height: 100dvh;
  min-width: 300px;
}

.h-nav-bar {
  height: calc(100dvh - 64px);
  overflow-x: hidden;
  scrollbar-color: rgb(55, 71, 79) rgb(0, 0, 0);
  scrollbar-width: thin;
}

.h-nav-bar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.h-nav-bar::-webkit-scrollbar:vertical {
  width: 10px;
}

/* aca hay un detalle con la segunda clase contenedor nose donde csm deveria poner xD */
.h-nav-bar::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.h-nav-bar::-webkit-scrollbar:horizontal {
  height: 10px;
}

.h-nav-bar::-webkit-scrollbar-thumb {
  background-color: rgb(55, 71, 79);
}

@media screen and (max-width: 959px) {
  .h-nav-bar {
    height: calc(100dvh - 104px);
    /* overflow-x: hidden;
    scrollbar-color: rgb(55, 71, 79) rgb(0, 0, 0);
    scrollbar-width: thin; */
  }
}